% rebase("base.html")



<div class="container">

    <h2 class="center white-text">IZBERITE IGRO</h2>

    <div class="row center-align">
        <div class="col center-align ">
            <form action="/izbrana-igra/1" method="POST">
                <button class="btn waves-effect desno_zgoraj" type="image" src="/img/golf_desno_zgoraj.jpg"
                    style=" border-radius: 20px; height: 300px; width: 300px; ">
                    <h4>1</h4>
                </button>
            </form>
        </div>

        <div class="col center-align ">
            <form action="/izbrana-igra/2" method="POST">
                <button class="btn waves-effect levo_spodaj" type="submit"
                    style=" border-radius: 20px; height: 300px; width: 300px;">
                    <h4>2</h4>
                </button>
            </form>
        </div>
        <div class="col center-align ">
            <form action="/izbrana-igra/3" method="POST">
                <button class="btn waves-effect levo_zgoraj" type="submit"
                    style=" border-radius: 20px; height: 300px; width: 300px; ">
                    <h4>3</h4>
                </button>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col center-align ">
            <form action="/izbrana-igra/4" method="POST">
                <button class="btn waves-effect desno_spodaj" type="submit"
                    style="border-radius: 20px; height: 300px; width: 300px; ">
                    <h4>4</h4>
                </button>
            </form>
        </div>
        <div class="col center-align ">
            <form action="/izbrana-igra/5" method="POST">
                <button class="btn waves-effect na_sredini" type="submit"
                    style="  border-radius: 20px; height: 300px; width: 300px; ">
                    <h4>5</h4>
                </button>
            </form>
        </div>

        <div class="col center-align ">
            <form action="/izbrana-igra/6" method="POST">
                <button class="btn waves-effect mesano" type="submit"
                    style=" border-radius: 20px; height: 300px; width: 300px; ">
                    <h4>Mešano</h4>
                </button>
            </form>
        </div>

    </div>
</div>