% rebase("base.html")

<div class="container">
    <div class="row">
        <h1 class="white-text center-align">NAVODILA</h1>
    </div>

    <div class="row">

        <div class="col l6">
            <img src="/img/360.png" alt="" style="height: 50vmin; width: 50vmin;">

        </div>
        <div class="col l6">
            <h5 class="white-text "> Cilj igre je spraviti svojo žogico v bel kvadratek. Za strel izberite moč udarca od
                1 do 100 in kot udarca. Skica kotov za strel je na levi. Če žogico udarite izven igralnega polja, se
                strel upošteva, vendar žogica ostane
                na istem mestu. Če igro igra več igralcev, se po vsakem strelu zamenja igralec, ki je
                na vrsti.
            </h5>
        </div>

    </div>

    <form action="/igra" method="GET">
        <button class="btn-large light-green lighten-2 waves-effect" type="submit">Nazaj na igro</button>
    </form>
</div>