% rebase("base.html")

<div class="container">
    <h1 class="center-align green-text text-lighten-5 ">GOLF</h1>
    <h3 class="center-align green-text text-lighten-5">Pozdravljeni, za začetek igre pritisnite gumb Nova igra </h3>


    <form action="/nova-igra/" method="GET">
        <button class="btn-large light-green lighten-2 waves-effect center-align "
            style="  height: 100px; width: 200px;" type="submit">
            <h5><b>Nova igra</b> </h5>
        </button>
    </form>

</div>